h1 { /* Alinhando centralmente o título do post */
    text-align: center;
    margin-bottom: 15px;
}

h2 { /* Margem vertical ao H2 */
    margin: 1em 0;
}

.header_post a { /* Cor do link que indica a categoria do blog em que o post se encaixa*/
    color: #0ddaff;
}

/* Comportamento do link que indica a categoria ao passar do mouse */
.header_post a:hover {
    color: #ffffff;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

.header_post, .conteudo_post { /* Definições para as duas seções do post */
    margin: 1em;
    width: min(50em, 90%);
    justify-self: center;
}

.header_post img { /* Definições para a imagem de capa */
    max-width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.header_post span { /* Destacando o nome do autor da postagem */
    color: #58c7ff;
}

/* Definição de margem inferior para os principais textos da postagem */
.conteudo_texto {
    margin-bottom: 1em;
}

/* Definições para os spans que ficam dentro de elementos da classe conteudo_texto */
.conteudo_texto span {
    font-weight: bold;
}

.data_postagem { /* Definições sobre o parágrafo que exibe a data da postagem */
    font-size: 0.9em;
    margin-bottom: 1em;
}

li { /* Margem esquerda para itens de lista */
    margin-left: 1em;
}

/* Definindo fonte para elementos span da página */
span {
    font-family: "Questrial", sans-serif;
    font-style: normal;
}